@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$color-main: #FFB000;

.wrapper, *:before, *:after {
    position: relative;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

a { 
    text-decoration: none; 
    color: unset;
    &:hover {
        color: unset;
    }
}

.wrapper {
    .kv {
        .smokeFrame{
            position: relative;
            background-color: #ffa330;
            background-image: url("../images/overlay.png");
            width:100%;
            height:450px;
            
            .smoke{
                border:2px solid rgba(255,255,255,.1);
                border-radius:400px;
                position:absolute;
                margin:auto;
                @for $i from 1 through 60{
                    &:nth-of-type(#{$i}){
                        box-shadow: 3px 0px rgba(255,255,255, - ($i/40)),6px -5px rgba(10, 0, 0,  - ($i/40));
                        width:($i * 6) + 0px;
                        height:($i * 1) + 0px;
                        right:($i * 10) + 0px;
                        bottom:($i * 10) + 0px;
                        //-webkit-filter:blur($i/3 + 8px);
                        -webkit-filter: blur($i/3 + 8px);
                        -moz-filter: blur($i/3 + 8px);
                        -o-filter: blur($i/3 + 8px);
                        -ms-filter: blur($i/3 + 8px);
                        //filter: url(#blur);
                        transform-origin: ($i * 4) + 0px ($i * 2) + 0px;
                        animation: spin 3s ($i/10) + 0s linear infinite;
                        background:rgba(180 + ($i*3),70 + ($i*1) ,50,1 - ($i/80));
                    }
                }
                @keyframes spin{
                    0%{transform:rotate(0deg)}
                    100%{transform:rotate(360deg)}
                }
            }

            .portraitCon {
                bottom: 0;
                z-index: 10;
                .portrait {
                    width: 100%;
                    max-width: 230px;
                }
            }

            .titlePos {
                color: #de5350;
                font-size: 11rem;
                font-weight: 900;
                line-height: 1;
                height: 528px;

                @media screen and (max-width:992px) {
                    font-size: 9.5rem;
                    line-height: 1.2;
                }

                .titleCon {
                    width: 100%;
                    max-width: 540px;
                    .z-index-50 {
                        z-index: 50;
                    }
                }
            }

        }

        .bottomSpace {
            height: 78px;
        }

        .signature {
            width: 12%;
            min-width: 100px;
        }

        .marqueeCon {
            color: $color-main;
            width: 100%;
            overflow: hidden;
            display: flex;
            padding-left: 1rem;

            .marquee1, .marquee2, .marquee3 {
                display: inline-block;
                white-space: nowrap;
                padding-left: 0.4rem;
            }

            .marquee1 {
                animation: marquee1 20s linear infinite;
            }
            .marquee2 {
                animation: marquee2 20s linear infinite;
            }
            .marquee3 {
                animation: marquee2 20s linear infinite;
            }

            .marquee1 i, .marquee2 i, .marquee3 i {
                margin: 0 0.2rem;
            }
              
            @keyframes marquee1 {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
            @keyframes marquee2 {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
            @keyframes marquee3 {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }
    .works {
        .myNav {
            background-color: white;
            transition: 0.3s;

            .pointer {
                cursor: pointer;
            }
            
            &.sticky {
                position: fixed;
                top: 0;
                background-color: #FFB000;
                color: white;
                width: 100%;
                z-index: 100;
            }
        }
        .websites {
            .websiteAnchor {
                position: relative;
                top: -3.5rem;
            }
            .cardCon {
                position: relative;
                padding-bottom: 52.25%;
                background-color: #ffb000;
            }
            .cardFoot {
                position: relative;
                background-color: #ffb000;
                .arrowRight {
                    color: white;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        .graphics {
            height: 600px;
        }
    }




}

/* keyframes */
@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}
@keyframes wave {
    0% {transform: translate3d(-90px, 0, 0);}
    50% {transform: translate3d(85px, 0, 0);}
    100% {transform: translate3d(-90px, 0, 0);}
}
@keyframes rotateRight {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}