@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$color-main: #FFB000;
$color-main-light: #ffc300;
$color-main-deep: #faa307;
$color-sub: #de5350;

.wrapper, *:before, *:after {
    position: relative;
    margin: 0;
    font-family: 'Source Sans 3','Noto Sans TC', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

a { 
    text-decoration: none; 
    color: unset;
    &:hover {color: unset;}
}

.header{
    width: 100%;
    height: 65px;
    background-color: #ffa330;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.25rem;

    @media screen and (max-width:992px) {
        font-size: 1rem;
    }

    .signature {
        width: 110px
    }

    .pointer {
        cursor: pointer;
    }
}

.wrapper {
    .kv {
        .smokeFrame{
            position: relative;
            background-color: #ffa330;
            background-image: url("../images/overlay.png");
            width:100%;
            height:450px;
            
            .smoke{
                border:2px solid rgba(255,255,255,.1);
                border-radius:400px;
                position:absolute;
                margin:auto;

                @for $i from 1 through 60{
                    &:nth-of-type(#{$i}){
                        box-shadow: 3px 0px rgba(255,255,255, - ($i/40)),6px -5px rgba(10, 0, 0,  - ($i/40));
                        width:($i * 6) + 0px;
                        height:($i * 1) + 0px;
                        right:($i * 10) + 0px;
                        bottom:($i * 10) + 0px;
                        //-webkit-filter:blur($i/3 + 8px);
                        -webkit-filter: blur($i/3 + 8px);
                        -moz-filter: blur($i/3 + 8px);
                        -o-filter: blur($i/3 + 8px);
                        -ms-filter: blur($i/3 + 8px);
                        //filter: url(#blur);
                        transform-origin: ($i * 4) + 0px ($i * 2) + 0px;
                        animation: spin 3s ($i/10) + 0s linear infinite;
                        background:rgba(180 + ($i*3),70 + ($i*1) ,50,1 - ($i/80));
                    }
                }

                @keyframes spin{
                    0%{transform:rotate(0deg)}
                    100%{transform:rotate(360deg)}
                }
            }

            .portraitCon {
                bottom: 0;
                z-index: 10;
                .portrait {
                    width: 100%;
                    max-width: 230px;
                }
            }

            .titlePos {
                color: #de5350;
                font-size: 11rem;
                font-weight: 900;
                line-height: 1;
                height: 528px;

                .titleCon {
                    width: 100%;
                    max-width: 540px;

                    .z-index-50 {
                        z-index: 50;
                    }
                }
            }
        }

        .bottomSpace {
            height: 78px;
        }

        .signature {
            width: 12%;
            min-width: 100px;
        }

        .marqueeCon {
            color: $color-main;
            width: 100%;
            overflow: hidden;
            display: flex;
            padding-left: 1rem;

            .marquee1, .marquee2, .marquee3 {
                display: inline-block;
                white-space: nowrap;
                padding-left: 0.4rem;
            }

            .marquee1 {
                animation: marquee1 20s linear infinite;
            }
            
            .marquee2 {
                animation: marquee2 20s linear infinite;
            }

            .marquee3 {
                animation: marquee2 20s linear infinite;
            }

            .marquee1 i, .marquee2 i, .marquee3 i {
                margin: 0 0.2rem;
            }
              
            @keyframes marquee1 {
                0% {transform: translateX(0);}
                100% {transform: translateX(-100%);}
            }

            @keyframes marquee2 {
                0% {transform: translateX(0);}
                100% {transform: translateX(-100%);}
            }

            @keyframes marquee3 {
                0% {transform: translateX(0);}
                100% {transform: translateX(-100%);}
            }
        }
    }
    .about {
        font-weight: 900;
        line-height: 0.8;
        color: $color-main;

        .capitalCon {
            height: 28vw;

            @media screen and (max-width:992px) {
                height: 54vw;
            }

            .aboutFs {
                font-size: 15.5vw;
            }

            .zackFs {
                font-size: 18.3vw;
            }

            .smileFs {
                font-size: 8vw;
            }

            .portfolioTape {
                background-color: $color-sub;
                color: white;
                transform: rotate(-10deg);
                font-size: 6.7vw;
                top: 10vw;
                left: 5vw;
                padding: 0.2vw 2vw;
            }

            @media screen and (max-width:992px) {
                .aboutFs {
                    font-size: 30vw;
                }

                .zackFs {
                    font-size: 35.5vw;
                }

                .smileFs {
                    font-size: 17vw;
                }

                .portfolioTape {
                    font-size: 13.5vw;
                    top: 18.5vw;
                    left: 7vw;
                    padding: 1vw 4vw;
                }
            }
        }

        .aboutText {
            font-size: 2rem;
            line-height: 1.3;
            color: $color-main-deep;
            @media screen and (max-width:992px) {
                font-size: 1.25rem;
            }
        }
        .boldHrLine {
            width: 100%;
            height: 4px;
            background-color: $color-main;
        }
        .XPlus {
            width: 8vw;
        }





    }
    .works {
        .myNav {
            background-color: white;
            transition: 0.3s;
            border-bottom: 1px solid white;

            .pointer {
                cursor: pointer;
            }
            
            &.sticky {
                position: fixed;
                top: 0;
                background-color: $color-main;
                color: white;
                width: 100%;
                z-index: 100;
            }
        }
        .websites {
            .websiteAnchor {
                position: relative;
                top: -3.5rem;
            }

            .webSitesBg {
                overflow-x: clip;
                position: relative;
                background-color: $color-main;
                padding-top: 100px;
                padding-bottom: 100px;

                .watermark {
                    position: absolute;
                    z-index: 10;
                    color: $color-main-deep;
                    left: 0px;
                    display: flex;
                    animation: slideLeft 50s linear infinite;
                    
                    &.posTop {
                        top: 10px;
                    }
                    &.posBtm {
                        bottom: 10px;
                    }

                    @keyframes slideLeft {
                        0% {transform: translateX(0%);}
                        100% {transform: translateX(-50%);}
                    }

                    .marquee-text {
                        white-space: nowrap;
                        padding-right: 3.57vw;
                        font-size: 24vw;
                        font-optical-sizing: auto;
                        font-variation-settings: "slnt" 0;
                        font-weight: 900;
                        font-style: italic;
                        letter-spacing: -0.97vw;
                        line-height: 1;

                        @media screen and (max-width:992px) {
                            font-size: 70vw;
                        }
                    }
                }

                .cardsCon {
                    position: relative;
                    z-index: 20;

                    .cardPadding {
                        padding: 0 0.5rem 3.5rem 0.5rem;
                    }
                    
                    .numberTag {
                        font-size: 4.5rem;
                        font-weight: 900;
                        color: white;
                        position: absolute;
                        margin-top: -3.5rem;
                        margin-left: 0.5rem;
                        font-style: italic;
                    }

                    .websiteCover {
                        width: 100%;
                        border-radius: 6px;
                        border: 1px solid white;
                    }

                    .cardDes {
                        display: inline-block;
                        margin-top: 0.5rem;
                        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
                        font-size: 1.25rem;
                        font-weight: bold;
                        color: white;
                        background-color: black;
                        line-height: 1;
                    }

                    .ellipse {
                        border: 2px solid white;
                        color: white;
                        display: inline;
                        border-radius: 50%;
                        margin: auto auto auto -15px;
                        padding: 0.5rem 1.5rem;
                        font-weight: bold;

                    }

                }
            }

        }
        .graphics {
            height: 600px;
            .graphicsAnchor {
                position: relative;
                top: -3.5rem;
            }
        }
    }




}

/* keyframes */
@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}
@keyframes wave {
    0% {transform: translate3d(-90px, 0, 0);}
    50% {transform: translate3d(85px, 0, 0);}
    100% {transform: translate3d(-90px, 0, 0);}
}
@keyframes rotateRight {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}