.wrapper, *:before, *:after {
    position: relative;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}
.dkBlue {color: #004e63;}
.wrapper {
    .kv {
        padding-top: 80px;
        .kv_PC {
            height: 39vw;
            .kv_notepaper, .kv_whitepaper, .kv_handRight, .kv_handLeft, .kv_title {
                position: absolute;
            }
            display: block;
            @media screen and (max-width:992px) {
                display: none;
            }
        }
        .kv_SP {
            height: 100vw;
            .kv_notepaper_SP, .kv_whitepaper_SP, .kv_handRight_SP, .kv_handLeft_SP, .kv_title_SP {
                position: absolute;
            }
            display: none;
            @media screen and (max-width:992px) {
                display: block;
            }
        }
    }
    .note {
        .swiper-pagination {
            bottom: unset;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-start;
            padding-bottom: 2rem;
            @media screen and (max-width:992px) {
                padding-bottom: 1.5rem;
            }
            span {
                background-color: transparent;
                width: auto;
                height: auto;
                opacity: 1;
                border-radius: 30px;
                border: 3px solid #192d35;
                font-size: 26px;
                padding: 0 1rem;
                margin: 0 1rem;
                @media screen and (max-width:992px) {
                    font-size: 17px;
                    padding: 0 6px;
                    margin: 0 2px;
                }
                &.swiper-pagination-bullet-active {
                    background-color: #192d35;
                    color: white;
                }
                &:after {
                    content: '';
                    display: block;
                    text-align: center;
                    white-space: pre;
                    font-weight: bold;
                }
                &:nth-of-type(1) {
                    &:after {
                        content: '國中英文';
                    }
                }
                &:nth-of-type(2) {
                    &:after {
                        content: '國中數學';
                    }
                }
                &:nth-of-type(3) {
                    &:after {
                        content: '國中自然';
                    }
                }
                &:nth-of-type(4) {
                    &:after {
                        content: 'JR小百科';
                    }
                }
            }
        }
        .noteCont {
            padding: 0.25rem;
            .row {
                --bs-gutter-x: unset;
                --bs-gutter-y: unset;
                margin-top: unset;
                margin-right: unset;
                margin-left: unset;
                max-width: 992px;
                margin: 0 auto;
                .noteColStyle {
                    padding: 0.5rem;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
            &.englishBg {background-color: #ffdcda;}
            &.mathBg {background-color: #f5edbf;}
            &.natureBg {background-color: #d0f0ff;}
            &.encycBg {background-color: #ffd9aa;}
        }
        .modal-content {
            border: unset;
            border-radius: 10px;
            .btn-close {
                position: absolute;
                z-index: 10;
                right: -15px;
                top: -15px;
                background-color: white;
                opacity: 1;
                border: 3px solid black;
                border-radius: 30px;
                height: 30px;
                width: 30px;
                @media screen and (max-width:992px) {
                    right: -5px;
                    top: -10px;
                }
            }
            .modal-body {
                padding: 2rem;
                @media screen and (max-width:992px) {
                    padding: 1.2rem;
                }
            }
        }
        .noteBt {
            font-size: 26px;
            font-weight: bold;
            background-color: black;
            color: white;
            padding: .2rem 1.5rem;
            border-radius: 30px;
        }
        .movingFinger {
            position: absolute;
            width: 100px;
            margin-left: -20PX;
            animation: right2left 1s cubic-bezier(0.1, -0.6, 0.2, 0) infinite;
        }
        a {text-decoration: none;}
    }
    .form {
        #myform {
            position: relative;
            top: -5rem;
        }
        .formTitPos {
            margin-bottom: -34px;
            .frameShape {height: 66px;}
            .oppsite {transform:scaleX(-1);}
            .titleFrame {
                height: 66px;
                background-image: url(../images/frame.svg);
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-wrap: nowrap;
                line-height: 26px;
                text-align: center;
                .formTitBr {
                    display: none;
                    @media screen and (max-width:576px) {
                        display: block;
                    }
                }
            }
        }
        .formFrame {
            border: 3px solid #004d63;
            padding: 1rem;
            .teriDemands {
                margin: unset;
                @media screen and (max-width:992px) {
                    margin: auto;
                }
            }
        }
    }
    .vedio {
        padding-top: 20px;
        padding-bottom: 4rem;
        background-image: url(../images/blueWaffle.png);
        .vedioDecoL {
            width: 15%;
            left: 2%;
            bottom: 1%;
            @media screen and (max-width:992px) {
                display: none;
            }
        }
        .vedioDecoR {
            width: 15%;
            right: 5%;
            top: 12%;
            @media screen and (max-width:992px) {
                display: none;
            }
        }
        .yellowpenCont {
            height: 180px;
            .yellowpen {
                position: absolute;
                width: 300px;
                margin-top: -60px;
                left: 35%;
                @media screen and (max-width:992px) {
                    margin-top: -11%;
                }
            }
        }
        .vedioPos {
            padding-top: 3rem;
            @media screen and (max-width:992px) {
                padding-top: unset;
            }
        }
        .vedioWhiteBg {
            background-color: white;
            border-radius: 15px;
            .vedioImg {
                cursor: pointer;
            }
            .vedioBt {
                background-color: #ffdb00;
                color: black;
                padding: 0.5rem 1rem;
                border: 3px solid #004e63;
                border-radius: 30px;
                box-shadow: 0px 5px 0px rgba(143, 152, 187, 1);
            }
            a {text-decoration: none;}
        }
        .modal-content {
            border: unset;
            border-radius: 10px;
            .btn-close {
                position: absolute;
                z-index: 10;
                right: -15px;
                top: -15px;
                background-color: white;
                opacity: 1;
                border: 3px solid black;
                border-radius: 30px;
                height: 30px;
                width: 30px;
                @media screen and (max-width:992px) {
                    right: -5px;
                    top: -10px;
                }
            }
            .modal-body {
                padding: 2rem;
                @media screen and (max-width:992px) {
                    padding: 1.2rem;
                }
                .videobox {
                    aspect-ratio: 16/9;
                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .fourPoints {
        background-color: #fff8d7;
        .frameShape {height: 66px;}
        .oppsite {transform:scaleX(-1);}
        .titleFrame {
            height: 66px;
            background-image: url(../images/frame.svg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            line-height: 26px;
            text-align: center;
        }
        .fourPointsCont {
            background-image: url(../images/yellowWaffle.png);
            border-top: 3px solid #ffdb00;
            border-bottom: 3px solid #ffdb00;

            .fpContent {
                min-height: unset;
                padding-top: 0.5rem;
                @media screen and (max-width:1200px) {
                    min-height: 100px;
                }
                @media screen and (max-width:992px) {
                    min-height: unset;
                }
            }
            .fourPointsBt {
                background-color: #205078;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 30px;
            }
            a {text-decoration: none;}

        }
    }
}
/* keyframes */
@keyframes right2left {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, 0); }
    100% { transform: translate(0, 0); }
}