$nav-height: 65px;
%greenGradientText {
    font-weight: bold;
    background: linear-gradient(to bottom, #d4eb73, #a3bf2a);
    background-clip: text;
    color: transparent;
}
.wrapper, *:before, *:after {
    position: relative;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}
.wrapper {
    background-color: #321856;
    .nav-height{ height: $nav-height;}
    .hide { display: none;}
    .kv {
        height: 46.9vw;
        .doorL {
            width: 50%;
            top: 30%;
            @media screen and (max-width:992px){
                width: 30%;
                top: 47%;
            }
        }
        .doorR {
            width: 50%;
            top: 30%;
            right: 0px;
            @media screen and (max-width:992px){
                width: 30%;
                top: 47%;
            }
        }
        .pumpkinL {
            width: 20%;
            top: 55%;
            left: 3%;
            @media screen and (max-width:992px){
                top: 85%;
            }
        }
        .pumpkinR {
            width: 20%;
            top: 55%;
            right: 3%;
            @media screen and (max-width:992px){
                top: 85%;
            }
        }
        .title {
            width: 50%;
            left: 25%;
            top: 5%;
            &.zoomInOutAnim {
                animation: zoomInOut 2s linear infinite;
            }
            @media screen and (max-width:992px){
                width: 80%;
                left: 10%;
            }
        }
    }
    .modal {
        .modal-dialog {
            max-width: 700px;
            .modal-content {
                border-radius: 10px;
                color: white;
                overflow: hidden;
                &.fireBg {
                    background-image: url(../images/fire.png),url(../images/modalBg.png);
                    background-size: 100% auto, 101% 101%;
                    background-position: center bottom, center top;
                    background-repeat: no-repeat, no-repeat;
                }
                &.witchBg {
                    background-image: url(../images/purpleGrass.png),url(../images/modalBg.png);
                    background-size: 100% auto, 101% 101%;
                    background-position: center bottom, center top;
                    background-repeat: no-repeat, no-repeat;
                }
                %go_button {
                    display: inline-block;
                    text-align: center;
                    background-color: #e3399d;
                    color: white;
                    font-weight: bold;
                    padding: 0.2em 1em;
                    margin: 0.6em auto;
                    border: 0px;
                    border-radius: 5px;
                }
                a { color: white; text-decoration: none;}
                .modal-header {border-bottom: 0px;}
                .modal-body {
                    .greenGradientText {
                        @extend %greenGradientText
                    }
                    .prizeComment {
                        font-size: medium;
                        color: white;
                        font-weight: normal;
                    }
                    .row{--bs-gutter-x: 0.5rem;}
                    .formFlex {
                        display: flex;
                        flex-direction:row;
                        justify-content: center;
                        gap: 0.5rem;
                        @media screen and (max-width:576px) {
                            flex-direction: column;                                
                        }
                        .inputWidth {min-width: 120px}
                    }
                    .go_button {
                        @extend %go_button;
                    }
                }
                .go_button {
                    @extend %go_button;
                }
                .witch {
                    width: 100%;
                    max-width: 334px;
                }
            }
        }
    }
    .prizeWheelBg {
        background: linear-gradient(to bottom, #321856 20%, #14081d 100%);
        .container-prize {
            position: relative;
            max-width: 745px; 
            margin: 0 auto;
            .vampiress {
                position: absolute;
                max-width: 516px; 
                width: 45%;
                margin-top: -30%;
                left: 30%;
                z-index: 10;
            }
            .vampiressHand {
                position: absolute;
                max-width: 516px; 
                width: 45%;
                margin-top: -30%;
                left: 30%;
                z-index: 30;
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 270%;
                    height: 270%;
                    top: 55%;
                    left: -75%;
                    pointer-events: none;
                    background-image: url('../images/bats.png');
                }
            }
            .prizeWheelCont {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 745px;
                width: 100%; 
                margin-top: -6.5%; 
                z-index: 20;
                &:after {
                    position :absolute;
                    top: 0;
                    left: 0;
                    display: none;
                    content: "";
                    width: 100%;
                    height: 100%;
                }
                &.disable {
                    &:after {
                        display: block;
                    }
                }
                .prizeWheel {
                    width: 100%;
                    &.rotatingAnim {
                        animation: rotating 12s linear infinite;
                    }
                }
                .drawButton {
                    position: absolute;
                    top: 35%;
                    left: 35%;
                    width: 30%;
                    cursor: pointer;
                    &.zoomInOutAnim {
                        animation: zoomInOut 1s linear infinite;
                    }
                }
            }
            @media screen and (max-width:992px) {
                margin-top: 25%;
            }
        }
        .tombsCont {
            position: relative;
            margin-top: -15%;
            height: 31.25vw;
            .tombs {
                width: 100vw;
            }
            .ghost {
                width: 7%;
                &.gPos1 {
                    left: 18%;
                    bottom: 48%;
                }
                &.gPos2 {
                    left: 65%;
                    bottom: 30%;
                    animation: swing 2s linear infinite;
                }
                &.gPos3 {
                    right: 15%;
                    bottom: 50%;
                }
            }
        }
    }
    .termsBg {
        background-color: #120f3a;
        padding: 3rem 0rem;
        .termsBox {
            background-color: black;
            border-radius: 10px;
            .greenWing {
                transform: scaleX(-1);
            }
            .termsTit {
                @extend %greenGradientText
            }
            ul {color: #fffcd5;}
        }
    }
}
/* keyframes */
@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}
@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
@keyframes rotating {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}