body {
  background-color: #FFB000;
}

.wrapper, *:before, *:after {
  position: relative;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 65px;
  background-color: #d78df7;
}
.wrapper a {
  text-decoration: none;
}
.wrapper .white {
  color: #ffffff;
}
.wrapper .kv {
  height: 40vw;
}
.wrapper .kv .door_pc, .wrapper .kv .door_sp {
  width: 100vw;
}
.wrapper .kv .giftboxLeft {
  width: 30vw;
  left: 11vw;
  top: 25vw;
}
.wrapper .kv .giftboxPcoin {
  width: 27vw;
  left: 64.5vw;
  top: 25vw;
}
.wrapper .kv .giftboxRight {
  width: 12vw;
  left: 83vw;
  top: 29vw;
}
.wrapper .kv .lightBox {
  width: 15vw;
  left: 78vw;
  top: 18vw;
}
.wrapper .kv .title {
  width: 46vw;
  left: 27vw;
  top: 13vw;
}
.wrapper .kv .subtitle {
  width: 40vw;
  left: 30vw;
  top: 26vw;
}
.wrapper .kv .pCoin {
  width: 10.5vw;
  left: 68vw;
  top: 23vw;
}
.wrapper .kv .coinLeftBottom {
  width: 18vw;
  left: 2vw;
  top: 17vw;
}
.wrapper .kv .coinLeftTop {
  width: 9vw;
  left: 16vw;
  top: 7vw;
}
.wrapper .kv .coinRightBottom {
  width: 6vw;
  left: 92.5vw;
  top: 18vw;
}
.wrapper .kv .coinRightTop {
  width: 6vw;
  left: 75vw;
  top: 5vw;
}
@media screen and (max-width: 992px) {
  .wrapper .kv {
    height: 110vw;
  }
  .wrapper .kv .title {
    width: 92vw;
    left: 4vw;
    top: 18vw;
  }
  .wrapper .kv .subtitle {
    width: 100vw;
    left: 0;
    top: 45vw;
  }
  .wrapper .kv .giftboxLeft {
    width: 41vw;
    left: 0;
    top: 78vw;
  }
  .wrapper .kv .giftboxLeft_postpage {
    width: 52vw;
    left: 0;
    top: 70vw;
  }
  .wrapper .kv .lightBox {
    width: 32vw;
    left: 23vw;
    top: 68vw;
  }
  .wrapper .kv .giftboxPcoin {
    width: 53vw;
    left: 47vw;
    top: 71vw;
  }
  .wrapper .kv .pCoin {
    width: 22vw;
    left: 54vw;
    top: 67vw;
  }
  .wrapper .kv .coinLeftTop {
    width: 11vw;
    left: 10vw;
    top: 12vw;
  }
  .wrapper .kv .coinRightTop {
    width: 10vw;
    left: 85vw;
    top: 9vw;
  }
}
.wrapper .detail {
  background-image: url(../images/kv_pc_doorBtm.png);
  background-size: 100vw 100%;
}
@media screen and (max-width: 992px) {
  .wrapper .detail {
    background-image: unset;
    background-color: #d78df7;
  }
}
.wrapper .detail .container-detail {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  text-align: justify;
}
.wrapper .detail .container-detail .textShadow {
  text-shadow: rgb(122, 0, 236) 0 0 0.3em;
}
.wrapper .detail .container-detail hr {
  color: white;
  opacity: 1;
  height: 1px;
}
.wrapper .detail .container-detail .accordion-button, .wrapper .detail .container-detail .accordion-body {
  padding: unset;
  border-radius: 0;
}
.wrapper .detail .container-detail .accordion-button {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}
.wrapper .detail .container-detail .accordion-button:focus {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}
.wrapper .detail .container-detail .accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}
.wrapper .detail .container-detail .accordion-item, .wrapper .detail .container-detail .accordion-button {
  background-color: unset;
}
.wrapper .detail .container-detail .accordion-button::after {
  background-image: url(../images/arrow.png);
}
.wrapper .main {
  background: linear-gradient(#d78df7, #77e7ff, #92a2ff, #c564d9);
}
.wrapper .main .container-form {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}
.wrapper .main .container-form .form {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10% auto 0 auto;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 100;
}
.wrapper .main .container-form .form .giftTop {
  margin-top: -11%;
  display: block;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .wrapper .main .container-form .form .giftTop {
    width: 70%;
  }
}
.wrapper .main .container-form .form .optionStyle {
  width: 100%;
  margin-top: 16px;
  border-radius: 22px;
  padding: 7px 14px;
  cursor: pointer;
}
.wrapper .main .container-form .form .selectArrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../images/arrowBlack.png") no-repeat right center transparent;
  background-size: 30px;
  background-color: #ffffff;
}
.wrapper .main .container-form .form .answer {
  background-color: #ecf9fe;
  display: flex;
  align-items: center;
}
.wrapper .main .container-form .form .answer .form-check-input {
  margin-top: unset;
  min-width: 20px;
}
.wrapper .main .container-form .form .answer .form-check-input:focus {
  box-shadow: unset;
}
.wrapper .main .container-form .form .answer .form-check-input:checked[type=radio] {
  background-image: url(../images/radioChecked.png);
}
.wrapper .main .container-form .form .answer .form-check-input:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}
.wrapper .main .container-form .form .selected {
  background-color: #f9e329;
}
.wrapper .main .container-form .form .inputStyle {
  border: 1px solid #878787;
  line-height: 1;
  font-weight: bold;
}
.wrapper .main .container-form .form .buttonStyle {
  background: linear-gradient(#eb3e32, #cb0f02);
  color: white;
  padding: 8px 40px;
  border-radius: 50px;
}
.wrapper .main .container-form .blurBlueDot {
  left: -200px;
  top: -80px;
}
.wrapper .main .container-form .blurPinkDot {
  right: -100px;
  top: -70px;
}
.wrapper .main .container-form .pinkCircle {
  right: -330px;
  top: 500px;
}
.wrapper .main .container-form .purpleBigTraigle {
  left: -500px;
  top: 600px;
}
.wrapper .main .container-form .purpleSmallTraigle {
  right: -380px;
  top: 1100px;
}
.wrapper .main .container-form .blurPinkDotDotDot {
  left: -350px;
  top: 1250px;
}
.wrapper .main .container-form .giftBottom {
  width: 120%;
  margin: -18% -10% 2% -10%;
  z-index: 200;
}
.wrapper .drawing {
  padding-bottom: 2rem;
  background-color: #c564d9;
}
.wrapper .drawing .bgTop {
  background-image: url(../images/kv_pc_doorBtm.png);
  background-size: 100vw 100%;
  top: 0;
  width: 100vw;
  height: 30%;
}
@media screen and (max-width: 992px) {
  .wrapper .drawing .bgTop {
    background-image: unset;
    background-color: #d78df7;
  }
}
.wrapper .drawing .bgBottom {
  background: linear-gradient(#d78df7, #77e7ff, #92a2ff, #c564d9);
  top: 30%;
  width: 100vw;
  height: 70%;
}
.wrapper .drawing .container-drawing {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding-top: 1rem;
}
.wrapper .drawing .container-drawing .form {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 100;
}
.wrapper .drawing .container-drawing .form .month {
  background: linear-gradient(#a2d1fd, #19b1ff);
  padding: 0.5rem;
}
.wrapper .drawing .container-drawing .form .title {
  background-color: #ffffff;
  padding: 0.5rem;
}
.wrapper .drawing .container-drawing .form .result {
  background-color: #e9f8ff;
  padding: 0.5rem;
}
.wrapper .drawing .container-drawing .gift {
  width: 50%;
  z-index: 200;
}
@media screen and (max-width: 992px) {
  .wrapper .drawing .container-drawing .gift {
    width: 100%;
  }
}
.wrapper .drawing .blurBlueDot {
  top: 10px;
  left: -200px;
}
.wrapper .drawing .blurPinkDot {
  bottom: 120px;
  right: -100px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 211px -314.6666666667px hsl(272, 100%, 50%), 236px 4.3333333333px hsl(223, 100%, 50%), 170px -217.6666666667px hsl(251, 100%, 50%), -104px -355.6666666667px hsl(145, 100%, 50%), -107px -229.6666666667px hsl(223, 100%, 50%), -70px -161.6666666667px hsl(228, 100%, 50%), -103px -307.6666666667px hsl(16, 100%, 50%), 214px -337.6666666667px hsl(136, 100%, 50%), 240px -379.6666666667px hsl(260, 100%, 50%), 239px -241.6666666667px hsl(332, 100%, 50%), -212px -350.6666666667px hsl(230, 100%, 50%), -196px -407.6666666667px hsl(216, 100%, 50%), -102px -390.6666666667px hsl(346, 100%, 50%), -113px 50.3333333333px hsl(190, 100%, 50%), -64px -229.6666666667px hsl(197, 100%, 50%), -64px -194.6666666667px hsl(336, 100%, 50%), -211px -44.6666666667px hsl(196, 100%, 50%), -211px -243.6666666667px hsl(62, 100%, 50%), 64px 52.3333333333px hsl(258, 100%, 50%), -199px -292.6666666667px hsl(301, 100%, 50%), -78px -285.6666666667px hsl(162, 100%, 50%), 242px -367.6666666667px hsl(176, 100%, 50%), 66px -249.6666666667px hsl(204, 100%, 50%), -145px -175.6666666667px hsl(77, 100%, 50%), 220px -60.6666666667px hsl(284, 100%, 50%), -166px -33.6666666667px hsl(145, 100%, 50%), -99px 55.3333333333px hsl(78, 100%, 50%), 151px -170.6666666667px hsl(116, 100%, 50%), -28px 41.3333333333px hsl(69, 100%, 50%), -239px 41.3333333333px hsl(124, 100%, 50%), 92px -157.6666666667px hsl(140, 100%, 50%), 186px -199.6666666667px hsl(174, 100%, 50%), -206px 62.3333333333px hsl(84, 100%, 50%), -146px 1.3333333333px hsl(159, 100%, 50%), 238px -56.6666666667px hsl(23, 100%, 50%), 215px -246.6666666667px hsl(245, 100%, 50%), -70px -121.6666666667px hsl(291, 100%, 50%), 142px -188.6666666667px hsl(238, 100%, 50%), 162px -330.6666666667px hsl(59, 100%, 50%), -148px -159.6666666667px hsl(11, 100%, 50%), -102px -64.6666666667px hsl(10, 100%, 50%), 94px -152.6666666667px hsl(165, 100%, 50%), 125px -309.6666666667px hsl(310, 100%, 50%), -180px -329.6666666667px hsl(77, 100%, 50%), 233px 37.3333333333px hsl(174, 100%, 50%), -52px -8.6666666667px hsl(4, 100%, 50%), 18px -163.6666666667px hsl(210, 100%, 50%), -72px -341.6666666667px hsl(266, 100%, 50%), -209px -208.6666666667px hsl(162, 100%, 50%), -9px -158.6666666667px hsl(27, 100%, 50%), 89px -182.6666666667px hsl(17, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=style.css.map */