body {
  background-color: #FFB000;
}

.wrapper, *:before, *:after {
  position: relative;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 65px;
  background-color: #d78df7;
}
.wrapper a {
  text-decoration: none;
}
.wrapper .white {
  color: #ffffff;
}
.wrapper .kv {
  height: 40vw;
}
.wrapper .kv .door_pc, .wrapper .kv .door_sp {
  width: 100vw;
}
.wrapper .kv .giftboxLeft {
  width: 30vw;
  left: 11vw;
  top: 25vw;
}
.wrapper .kv .giftboxPcoin {
  width: 27vw;
  left: 64.5vw;
  top: 25vw;
}
.wrapper .kv .giftboxRight {
  width: 12vw;
  left: 83vw;
  top: 29vw;
}
.wrapper .kv .lightBox {
  width: 15vw;
  left: 78vw;
  top: 18vw;
}
.wrapper .kv .title {
  width: 46vw;
  left: 27vw;
  top: 13vw;
}
.wrapper .kv .subtitle {
  width: 40vw;
  left: 30vw;
  top: 26vw;
}
.wrapper .kv .pCoin {
  width: 10.5vw;
  left: 68vw;
  top: 23vw;
}
.wrapper .kv .coinLeftBottom {
  width: 18vw;
  left: 2vw;
  top: 17vw;
}
.wrapper .kv .coinLeftTop {
  width: 9vw;
  left: 16vw;
  top: 7vw;
}
.wrapper .kv .coinRightBottom {
  width: 6vw;
  left: 92.5vw;
  top: 18vw;
}
.wrapper .kv .coinRightTop {
  width: 6vw;
  left: 75vw;
  top: 5vw;
}
@media screen and (max-width: 992px) {
  .wrapper .kv {
    height: 110vw;
  }
  .wrapper .kv .title {
    width: 92vw;
    left: 4vw;
    top: 18vw;
  }
  .wrapper .kv .subtitle {
    width: 100vw;
    left: 0;
    top: 45vw;
  }
  .wrapper .kv .giftboxLeft {
    width: 41vw;
    left: 0;
    top: 78vw;
  }
  .wrapper .kv .giftboxLeft_postpage {
    width: 52vw;
    left: 0;
    top: 70vw;
  }
  .wrapper .kv .lightBox {
    width: 32vw;
    left: 23vw;
    top: 68vw;
  }
  .wrapper .kv .giftboxPcoin {
    width: 53vw;
    left: 47vw;
    top: 71vw;
  }
  .wrapper .kv .pCoin {
    width: 22vw;
    left: 54vw;
    top: 67vw;
  }
  .wrapper .kv .coinLeftTop {
    width: 11vw;
    left: 10vw;
    top: 12vw;
  }
  .wrapper .kv .coinRightTop {
    width: 10vw;
    left: 85vw;
    top: 9vw;
  }
}
.wrapper .detail {
  background-image: url(../images/kv_pc_doorBtm.png);
  background-size: 100vw 100%;
}
@media screen and (max-width: 992px) {
  .wrapper .detail {
    background-image: unset;
    background-color: #d78df7;
  }
}
.wrapper .detail .container-detail {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  text-align: justify;
}
.wrapper .detail .container-detail .textShadow {
  text-shadow: rgb(122, 0, 236) 0 0 0.3em;
}
.wrapper .detail .container-detail hr {
  color: white;
  opacity: 1;
  height: 1px;
}
.wrapper .detail .container-detail .accordion-button, .wrapper .detail .container-detail .accordion-body {
  padding: unset;
  border-radius: 0;
}
.wrapper .detail .container-detail .accordion-button {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}
.wrapper .detail .container-detail .accordion-button:focus {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}
.wrapper .detail .container-detail .accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}
.wrapper .detail .container-detail .accordion-item, .wrapper .detail .container-detail .accordion-button {
  background-color: unset;
}
.wrapper .detail .container-detail .accordion-button::after {
  background-image: url(../images/arrow.png);
}
.wrapper .main {
  background: linear-gradient(#d78df7, #77e7ff, #92a2ff, #c564d9);
}
.wrapper .main .container-form {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}
.wrapper .main .container-form .form {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10% auto 0 auto;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 100;
}
.wrapper .main .container-form .form .giftTop {
  margin-top: -11%;
  display: block;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .wrapper .main .container-form .form .giftTop {
    width: 70%;
  }
}
.wrapper .main .container-form .form .optionStyle {
  width: 100%;
  margin-top: 16px;
  border-radius: 22px;
  padding: 7px 14px;
  cursor: pointer;
}
.wrapper .main .container-form .form .selectArrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../images/arrowBlack.png") no-repeat right center transparent;
  background-size: 30px;
  background-color: #ffffff;
}
.wrapper .main .container-form .form .answer {
  background-color: #ecf9fe;
  display: flex;
  align-items: center;
}
.wrapper .main .container-form .form .answer .form-check-input {
  margin-top: unset;
  min-width: 20px;
}
.wrapper .main .container-form .form .answer .form-check-input:focus {
  box-shadow: unset;
}
.wrapper .main .container-form .form .answer .form-check-input:checked[type=radio] {
  background-image: url(../images/radioChecked.png);
}
.wrapper .main .container-form .form .answer .form-check-input:checked {
  background-color: #ffffff;
  border-color: #ffffff;
}
.wrapper .main .container-form .form .selected {
  background-color: #f9e329;
}
.wrapper .main .container-form .form .inputStyle {
  border: 1px solid #878787;
  line-height: 1;
  font-weight: bold;
}
.wrapper .main .container-form .form .buttonStyle {
  background: linear-gradient(#eb3e32, #cb0f02);
  color: white;
  padding: 8px 40px;
  border-radius: 50px;
}
.wrapper .main .container-form .blurBlueDot {
  left: -200px;
  top: -80px;
}
.wrapper .main .container-form .blurPinkDot {
  right: -100px;
  top: -70px;
}
.wrapper .main .container-form .pinkCircle {
  right: -330px;
  top: 500px;
}
.wrapper .main .container-form .purpleBigTraigle {
  left: -500px;
  top: 600px;
}
.wrapper .main .container-form .purpleSmallTraigle {
  right: -380px;
  top: 1100px;
}
.wrapper .main .container-form .blurPinkDotDotDot {
  left: -350px;
  top: 1250px;
}
.wrapper .main .container-form .giftBottom {
  width: 120%;
  margin: -18% -10% 2% -10%;
  z-index: 200;
}
.wrapper .drawing {
  padding-bottom: 2rem;
  background-color: #c564d9;
}
.wrapper .drawing .bgTop {
  background-image: url(../images/kv_pc_doorBtm.png);
  background-size: 100vw 100%;
  top: 0;
  width: 100vw;
  height: 30%;
}
@media screen and (max-width: 992px) {
  .wrapper .drawing .bgTop {
    background-image: unset;
    background-color: #d78df7;
  }
}
.wrapper .drawing .bgBottom {
  background: linear-gradient(#d78df7, #77e7ff, #92a2ff, #c564d9);
  top: 30%;
  width: 100vw;
  height: 70%;
}
.wrapper .drawing .container-drawing {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding-top: 1rem;
}
.wrapper .drawing .container-drawing .form {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 100;
}
.wrapper .drawing .container-drawing .form .month {
  background: linear-gradient(#a2d1fd, #19b1ff);
  padding: 0.5rem;
}
.wrapper .drawing .container-drawing .form .title {
  background-color: #ffffff;
  padding: 0.5rem;
}
.wrapper .drawing .container-drawing .form .result {
  background-color: #e9f8ff;
  padding: 0.5rem;
}
.wrapper .drawing .container-drawing .gift {
  width: 50%;
  z-index: 200;
}
@media screen and (max-width: 992px) {
  .wrapper .drawing .container-drawing .gift {
    width: 100%;
  }
}
.wrapper .drawing .blurBlueDot {
  top: 10px;
  left: -200px;
}
.wrapper .drawing .blurPinkDot {
  bottom: 120px;
  right: -100px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 32px -228.6666666667px hsl(189, 100%, 50%), -68px -116.6666666667px hsl(6, 100%, 50%), -90px 46.3333333333px hsl(208, 100%, 50%), 93px 57.3333333333px hsl(111, 100%, 50%), -244px -205.6666666667px hsl(70, 100%, 50%), 94px -0.6666666667px hsl(287, 100%, 50%), -150px -293.6666666667px hsl(340, 100%, 50%), 118px -125.6666666667px hsl(155, 100%, 50%), 1px -410.6666666667px hsl(182, 100%, 50%), -51px -136.6666666667px hsl(193, 100%, 50%), -199px -158.6666666667px hsl(53, 100%, 50%), 69px -400.6666666667px hsl(202, 100%, 50%), -70px -262.6666666667px hsl(271, 100%, 50%), -90px -252.6666666667px hsl(6, 100%, 50%), -49px -50.6666666667px hsl(66, 100%, 50%), 229px 45.3333333333px hsl(58, 100%, 50%), 189px -312.6666666667px hsl(223, 100%, 50%), 51px -313.6666666667px hsl(248, 100%, 50%), -189px -395.6666666667px hsl(57, 100%, 50%), 36px -198.6666666667px hsl(259, 100%, 50%), -80px 37.3333333333px hsl(184, 100%, 50%), 130px -397.6666666667px hsl(307, 100%, 50%), 229px 4.3333333333px hsl(31, 100%, 50%), 234px -354.6666666667px hsl(271, 100%, 50%), -218px -144.6666666667px hsl(181, 100%, 50%), -149px 27.3333333333px hsl(193, 100%, 50%), 149px 56.3333333333px hsl(331, 100%, 50%), -112px -48.6666666667px hsl(279, 100%, 50%), 55px -241.6666666667px hsl(359, 100%, 50%), 91px -220.6666666667px hsl(348, 100%, 50%), 58px -231.6666666667px hsl(228, 100%, 50%), -164px -202.6666666667px hsl(320, 100%, 50%), 106px -174.6666666667px hsl(19, 100%, 50%), -165px -346.6666666667px hsl(296, 100%, 50%), -171px 10.3333333333px hsl(355, 100%, 50%), 165px -383.6666666667px hsl(104, 100%, 50%), 148px -96.6666666667px hsl(229, 100%, 50%), -169px 10.3333333333px hsl(266, 100%, 50%), -63px -22.6666666667px hsl(148, 100%, 50%), -156px -378.6666666667px hsl(7, 100%, 50%), 14px -56.6666666667px hsl(111, 100%, 50%), -18px -404.6666666667px hsl(240, 100%, 50%), 43px -70.6666666667px hsl(324, 100%, 50%), -71px -271.6666666667px hsl(289, 100%, 50%), -1px -118.6666666667px hsl(295, 100%, 50%), -79px -248.6666666667px hsl(150, 100%, 50%), -177px 61.3333333333px hsl(105, 100%, 50%), -136px -313.6666666667px hsl(288, 100%, 50%), -82px -207.6666666667px hsl(166, 100%, 50%), 1px -88.6666666667px hsl(112, 100%, 50%), 199px -372.6666666667px hsl(188, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=style.css.map */