body {
    padding: 0;
    margin: 0;
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.comm_header {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.comm_header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}

.comm_header_wrapper > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
}

.comm_header_wrapper > a img {
    width: 200px;
}

ul.comm_header_promotion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul.comm_header_promotion > li {
    line-height: 65px;
    font-size: 18px;
    list-style-type: none;
}

ul.comm_header_promotion > li .title {
    padding-right: 20px;
    background: url('../images/arrow_down.svg') center right no-repeat; 
    background-size: 15px;
    cursor: pointer;
}

ul.comm_header_promotion > li + li {
    margin-left: 35px;
}

ul.comm_header_promotion > li:hover .promotion_area {
    height: auto;
    padding: 20px 0;
    transition: .3s;
}

ul.comm_header_promotion > li:hover .title {
    background: url('../images/arrow_up.svg') center right no-repeat; 
    background-size: 15px;
    color: #ff954d;
}

.promotion_area {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0;
    background: rgba(255,255,255,.95);
    transition: 0;
    overflow: hidden;
}

ul.promotion_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

ul.promotion_list > li {
    width: calc( 25% - 63px/4 );
    margin-right: 15px;
    line-height: 20px;
    font-size: 14px;
    list-style-type: none;
    cursor: pointer;
}

ul.promotion_list > li a {
    display: flex;
    flex-direction: column;
}

ul.promotion_list > li + li {
    padding-left: 15px;
    border-left: #aaa 1px solid;
} 

ul.promotion_list > li:last-child {
    margin-right: 0;
}

ul.promotion_list > li img {
    position: relative;
    top: 0;
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

ul.promotion_list > li:hover img {
    top: -5px;
}

ul.promotion_list > li .subtitle {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mobile_header_promotion {
    display: none;
}

ul.promotion_list_course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

ul.promotion_list_course > li {
    width: calc( 25% - 63px/4 );
    margin-right: 15px;
    line-height: 24px;
    font-size: 14px;
    list-style-type: none;
    cursor: pointer;
}

ul.promotion_list_course > li a {
    display: flex;
    flex-direction: column;
}

ul.promotion_list_course > li + li {
    padding-left: 15px;
    border-left: #aaa 1px solid;
} 

ul.promotion_list_course > li:last-child {
    margin-right: 0;
}

ul.promotion_list_course > li img {
    position: relative;
    top: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

ul.promotion_list_course > li:hover img {
    top: -5px;
}

ul.promotion_list_course > li .subtitle {
    height: 45px;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




@media screen and (max-width: 1023px) {

    .comm_header_wrapper {
        box-sizing: border-box;
        padding: 5px 25px;
    }

    .comm_header_promotion, .promotion_link {
        display: none !important;
    }

    .mobile_header_promotion {
        display: block;
    }

    .mobile_header_promotion .switch {
        cursor: pointer;
    }

    .mobile_header_promotion .switch img {
        height: 45px;
    }

    .mobile_header_promotion ul {
        box-sizing: border-box;
        position: absolute;
        top: 55px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        padding: 0 25px;
        margin: 0;
        overflow: hidden;
        transition: .3s;
    }

    .mobile_header_promotion.on ul {
        height: auto;
        padding: 12.5px 25px;
    }

    .mobile_header_promotion ul li {
        list-style-type: none;
    }

    .mobile_header_promotion ul li a {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .mobile_header_promotion ul li img {
        width: 75px;
        height: auto;
        padding: 0 12.5px 12.5px;
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
        background: #fff;
    }
}