/*表格共同樣式*/
.table-wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

h2.class-title {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 8px auto;
}

.class {
    margin-bottom: 40px;
}

.free-button1 {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    margin: 6px auto;
    background-color: #448aca;
    line-height: 48px;
    width: 200px;
    color: #ffffff;
    text-transform: uppercase;
    transition: box-shadow 0.8s, color 0.5s;
}

    /* 兒童美語課 */
    .free-button1:hover {
        box-shadow: inset 200px 0px #2165a4;
    }
    .class3 > table > thead > tr > th {
        background-color: #fb8c00;
        border-color: #fb8c00;
        vertical-align: middle;
    }
    
    .class3 > table {
        border-color: #fb8c00;
        background-color: #fff;
        font-size: 20px;
        color: #626262;
        vertical-align: middle;
    }
    
        .class3 > table > tbody > tr > td:first-child {
            text-align: center;
            vertical-align: middle;
            width: 19%;
        }
    
    .free-button3 {
        display: inline-block;
        text-decoration: none;
        font-size: 24px;
        margin: 6px auto;
        background-color: #fb8c00;
        line-height: 48px;
        width: 200px;
        color: #ffffff;
        text-transform: uppercase;
        transition: box-shadow 0.8s, color 0.5s;
    }
    
        .free-button3:hover {
            box-shadow: inset 200px 0px #e86900;
        }


    /* 情境英文課 */
    .class1 > table > thead > tr > th {
        background-color: #448aca;
        border-color: #448aca;
        vertical-align: middle;
    }
    
    .class1 > table {
        border-color: #448aca;
        background-color: #fff;
        font-size: 20px;
        color: #626262;
        vertical-align: middle;
    }
    
        .class1 > table > tbody > tr > td:first-child {
            text-align: center;
            vertical-align: middle;
            width: 19%;
        }

    .free-button1 {
        display: inline-block;
        text-decoration: none;
        font-size: 24px;
        margin: 6px auto;
        background-color: #448aca;
        line-height: 48px;
        width: 200px;
        color: #ffffff;
        text-transform: uppercase;
        transition: box-shadow 0.8s, color 0.5s;
    }
    
        .free-button1:hover {
            box-shadow: inset 200px 0px #659dd1;
        }        



.course {
    background: var(--backgroundGray);
}

.course .section_title {
    color: var(--backgroundOrange);
}

    .course .section_title:after {
        background: var(--mainyellow);
    }

.course_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.course_list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc( 100%/3 - 50px/3 );
    padding: 25px;
    margin-right: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: white;
}

.course_list li:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background: var(--mainyellow);
}

.course_list li:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
}

.course_list li:nth-child( 3n ) {
    margin-right: 0;
}

.course_list li:nth-child( n + 4 ) {
    margin-top: 35px;
}

.course_img {
    width: 150px;
}

.course_text .title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: var(--backgroundOrange);
}

.course .button {
    color: white;
    background: var(--backgroundOrange);
}

@media screen and (max-width: 1023px) {

    .course_list {
        margin-bottom: 25px;
    }

    .course_list li {
        width: calc( 100%/2 - 15px/2 );
        padding: 15px;
        margin-right: 15px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: white;
    }
    
    .course_list li:before {
        bottom: -5px;
        height: 15px;
    }
    
    .course_list li:after {
        height: 15px;
    }
    
    .course_list li:nth-child( 3n ) {
        margin-right: 15px;
    }

    .course_list li:nth-child( 2n ) {
        margin-right: 0;
    }
    
    .course_list li:nth-child( n + 3 ) {
        margin-top: 25px;
    }

    .course_img {
        width: 75px;
    }

    .course_text .title {
        font-size: 18px;
    }
    
}