.feature .section_title {
    color: var(--backgroundOrange);
}

.feature .section_title:after {
    background: var(--mainBlue);
}

.feature_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.feature_list li {
    position: relative;
    width: calc( 100%/3 - 50px/3 );
    border-radius: 10px;
    overflow: hidden;
}

.feature_list li:nth-child( n + 4 ) {
    margin-top: 25px;
}

.feature_list li .feature_img {
    width: 100%;
}

.feature_list li .feature_text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc( 100% - 20px );
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--backgroundOrange);
    background: rgba(255,255,255,.95);
}

.feature .button {
    color: white;
    background: var(--backgroundOrange);
}

@media screen and (max-width: 1023px) {

    .feature_list {
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    .feature_list li {
        width: 100%;
    }

    .feature_list li:nth-child( n + 2 ) {
        margin-top: 15px;
    }
    

}