.itcourse {
    background: white;
}

.itcourse .section_title {
    color: var(--backgroundOrange);
}

.itcourse .section_title:after {
    background: var(--mainyellow);
}

.itcourse_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.itcourse_list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc( 100%/3 - 50px/3 );
    padding: 25px;
    margin-right: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: var(--backgroundGray);
}

    .itcourse_list li:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 25px;
        border-radius: 10px;
        background: #C6C6C6;
    }

.itcourse_list li:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--backgroundGray);
}

.itcourse_list li:nth-child( 3n ) {
    margin-right: 0;
}

.itcourse_list li:nth-child( n + 4 ) {
    margin-top: 35px;
}

.itcourse_img {
    width: 150px;
}

.itcourse_text .title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: var(--backgroundOrange);
}

.itcourse .button {
    color: white;
    background: var(--backgroundOrange);
}

@media screen and (max-width: 1023px) {

    .itcourse_list {
        margin-bottom: 25px;
    }

    .itcourse_list li {
        width: calc( 100%/2 - 15px/2 );
        padding: 15px;
        margin-right: 15px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: var(--backgroundGray);
    }

    .itcourse_list li:before {
        bottom: -5px;
        height: 15px;
    }

    .itcourse_list li:after {
        height: 15px;
    }
    
    .itcourse_list li:nth-child( 3n ) {
        margin-right: 15px;
    }

    .itcourse_list li:nth-child( 2n ) {
        margin-right: 0;
    }
    
    .itcourse_list li:nth-child( n + 3 ) {
        margin-top: 25px;
    }

    .itcourse_img {
        width: 75px;
    }

    .itcourse_text .title {
        font-size: 18px;
    }
    
}