


ol, ul {
    padding-left: 0em;
}


.table {
    background: var(--mainyellow);
    margin-bottom: 0em;
}

.table .section_title {
    color: var(--backgroundOrange);
}

.table .section_title:after {
    background: var(--lightYellow);
}

.table_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table_list li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background: white;
}

.table_list li + li {
    margin-top: 15px;
}

.table_list li .level {
    width: 85px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: var(--lightOrange);
    border: var(--lightOrange) 1px solid;
    border-radius: 5px;
}

.table_list li .title {
    width: calc( 50% - 150px );
    font-size: 20px;
    font-weight: 500;
    color: var(--backgroundOrange);
}

.table_list li .time,
.table_list li .date {
    width: calc( 25% - 75px );
    font-size: 16px;
}


.table .button {
    color: var(--backgroundOrange);
    background: var(--lightYellow);
}

.table_list .button {
    width: 100px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    color: white;
    background: var(--darkblue);
}

@media screen and (max-width: 1023px) {

    .table_list {
        margin-bottom: 25px;
    }

    .table_list li {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .table_list li .level {
        width: 65px;
        margin-bottom: 10px;
        line-height: 25px;
        font-size: 14px;
    }

    .table_list li .title {
        width: 100%;
        line-height: 25px;
        font-size: 18px;
        text-align: center;
    }
    
    .table_list li .time,
    .table_list li .date {
        width: auto;
        margin: 15px 15px 15px 0;
        font-size: 14px;
    }

    .table_list .button {
        width: 100%;
    }
}


/* 填單 */

.classOptionStyle {
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #ced4da;
    border-width: 1px;
    border-style: solid;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selectArrow {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/selectArrow.png") no-repeat right center transparent;
    background-size: 16px;
    background-color: #ffffff;
  }  
  .selectArrow::-ms-expand { 
    display: none; 
  }

.button_style {
    background-color: #ff6700;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 59px;
    transition: all .4s ease-in-out;
    display: inline-block;
    padding: 0.1em 1em 0.1em 1em;
}

.button_style:hover {
    transform: scale(1.05);
    box-shadow: none;
    box-shadow: none;
    transition: all .4s ease-in-out;
}