body {background-color: #FFB000;}
.top {height: 65px}

.wrapper, *:before, *:after {
    position: relative;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

.pointer {cursor: pointer;}

.kv {
    height: calc(100vh - 65px);
    background-image: url(../images/gym.png);
    background-position: center top;
    background-size: cover;

    .blackScreen {
        width: 100vw;
        height: calc(100vh - 65px);
        background-color: black;
        animation: fade-in 3s forwards;
    }
    @keyframes fade-in {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
    .title {
        width: 70%;
        animation: zoom-inOut 1.5s infinite;
        @media screen and (max-width:992px) {width: 100%;}
    }
    @keyframes zoom-inOut {
        0% {scale: 1;}
        50% {scale: 0.97;}
        100% {scale: 1;}
    }
}

.flip {
    background-color: black;
    color: white;
    text-align: center;
    .flipCard {
        background-color: black;
        aspect-ratio: 1 / 1;
        align-content: center;
        line-height: 1.2;
        
        .arrow {width: 24px;}
        &.flipped {color: black;}
        
        .flipCardInner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            
            .flipCardFront, .flipCardBack {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .flipCardFront {
                background-color: inherit;
            }
            .flipCardBack {
                background-color: #ffd800;
                transform: rotateY(180deg);
            }
        }
        &.flipped .flipCardInner {
            transform: rotateY(180deg);
        }
    }
}

.parallax {
    height: 70vh;
    background-image: url('../images/goods.png');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

    .content {
        z-index: 1;
        color: white;
        height: 100%;
        text-shadow: 0px 0px 10px #000000;

        .burnFat {width: 90%;}
        .transparentBg {
            background-color: rgba(255, 255, 255, 0.18);
            .fitContent {width: fit-content;}
        }
    }
}

.woodenTable {
    background-image: url(../images/paper.png);
    background-size: 100% 100%;
    font-weight: lighter;

    .table {
        max-width: 768px;
        margin: 0 auto;
        line-height: 1;
        padding: 0 2.5rem;
        :not(caption)>*>* {padding: unset;}

        .blackBg {
            background-color: black; 
            color: white; 
            margin: 0 0.5rem;
        }
        .yellowBg {
            background-color: #ffd800;
            .mx05 {margin: 0 0.5rem;}
        }
        .greyBg{
            background-color: #c3c3c3; 
            margin: 0 0.5rem; 
            align-items: center;
        }
        .ltGreyBg {
            background-color: #d4d4d4; 
            margin: 0 0.5rem; 
            align-items: center;
        }
    }

    .fighting {
        position: relative;
        margin-bottom: -3.5%;
        z-index: 1;
        width: 75%;
        @media screen and (max-width:992px) {
            width: 100%;
        }
    }
    .woodenTable {
        width: 100%;
        max-height: 100px;
    }
}

.form {
    background-image: url(../images/wall.png);
    background-size: cover;
    padding-bottom: 105px;

    .container-fillform{
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);

        .shapeBlue {
            z-index: 30;
            width: 8%;
            right: -5%;
            top: -10%;
            @media screen and (max-width:992px) {
                width: 13%;
                right: -3%;
                top: -2%;
            }
        }
        .shapeGreen {
            z-index: 10;
            width: 15%;
            left: -5%;
            bottom: -10%;
            @media screen and (max-width:992px) {
                width: 30%;
                left: -12%;
                bottom: -7%;
            }
        }
        .whiteBg-female {
            z-index: 20;
            background-color: white;
            .female {margin-top: -5%;}
        }
        .whiteBg-form {
            z-index: 20;
            background-color: white;
            min-height: unset;
            @media screen and (max-width:992px) {
                min-height: 300px;
            }
            .blackBg {
                z-index: 40;
                width: 80%;
                padding: 0 5%;
                margin-top: 6%;
                background-color: black;
                height: 350px;
                color: white;
                align-content: center;
                @media screen and (max-width:992px) {
                    margin-top: 0;
                }
                .formStyle {
                    outline: none;
                    border-radius: 0px;
                    border: #d4d4d4 1px solid;
                    width: 100%;
                    height: 40px;
                    padding-left: 2%;
                    margin: 1% 0;
                    color: black;
                    &::placeholder {color: black;}
                }
                select {
                    display: block;
                    appearance:none;
                    background: url("../images/arrowBlack.png") no-repeat right center transparent;
                    background-size: 30px;
                    background-color: #ffffff;
                    outline: none;
                    border-radius: 0px;
                    border: #d4d4d4 1px solid;
                }
                .button {
                    background-color: #ffd800;
                    color: black;
                    border-radius: 50px;
                    padding: 0.25rem;
                }
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 0;
                    top: 100%;
                    border-top: 50px solid black;
                    border-right: 50px solid transparent;
                    border-left: 0px solid transparent;
                }
            }
        }
    }
}
.details {
    background-color: black;
    color: white;
    hr {opacity: 1;}
}