.wrapper, *:before, *:after {
  position: relative;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

.wrapper a {
  text-decoration: none;
}
.wrapper .kv {
  background-color: white;
}
.wrapper .kv .kv_PC {
  height: 42vw;
  display: block;
}
.wrapper .kv .kv_PC .logoPc {
  width: 10%;
  top: 2%;
  right: 1%;
}
.wrapper .kv .kv_PC .girl {
  animation: appear 0.1s linear backwards;
  animation-delay: 0.2s;
}
.wrapper .kv .kv_PC .kvPcTit {
  width: 60%;
  top: 20%;
  left: 28%;
}
@media screen and (max-width: 992px) {
  .wrapper .kv .kv_PC {
    display: none;
  }
}
.wrapper .kv .kv_SP {
  height: 111vw;
  display: none;
}
@media screen and (max-width: 992px) {
  .wrapper .kv .kv_SP {
    display: block;
  }
  .wrapper .kv .kv_SP .logoSp {
    width: 25%;
    top: 2%;
    left: 1%;
  }
  .wrapper .kv .kv_SP .kvSpTit {
    width: 90%;
    left: 5%;
    top: 33%;
  }
  .wrapper .kv .kv_SP .kvbt {
    width: 20%;
    top: 70%;
    right: 8%;
  }
}
.wrapper .luckyGame {
  position: relative;
  z-index: 1;
  background-image: url(../images/wall.png);
  background-size: auto 100%;
}
.wrapper .luckyGame #myform {
  position: relative;
  top: -1.2rem;
}
.wrapper .luckyGame .titRed {
  color: #ff0000;
}
.wrapper .luckyGame .titYellow {
  position: relative;
  width: 50%;
  color: #ffd500;
  background-image: url(../images/brush.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 1rem 2rem;
  text-wrap: nowrap;
}
.wrapper .luckyGame .titYellow::after, .wrapper .luckyGame .titYellow::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrapper .luckyGame .titYellow::after {
  top: 250%;
  left: -180%;
  width: 350px;
  height: 350px;
  background-image: url("../images/orangeDB.png");
}
.wrapper .luckyGame .titYellow::before {
  top: 330%;
  left: 180%;
  width: 300px;
  height: 300px;
  background-image: url("../images/redDB.png");
}
.wrapper .luckyGame .gameCont {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .wrapper .luckyGame .gameCont {
    width: 130%;
    left: -15%;
  }
}
.wrapper .luckyGame .gameCont .disable {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.wrapper .luckyGame .gameCont #box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 75%;
  margin: 0 auto;
  padding: 0.25rem;
  background-color: #faf0ca;
  border-radius: 10px;
  border: #ffe874 solid 10px;
}
.wrapper .luckyGame .gameCont #box .pic {
  width: 33%;
  height: 33%;
  border-radius: 20px;
  background-color: #ffd500;
  border: #faf0ca solid 10px;
}
@media screen and (max-width: 992px) {
  .wrapper .luckyGame .gameCont #box .pic {
    border-radius: 10px;
    border: #faf0ca solid 3px;
  }
}
.wrapper .luckyGame .gameCont #box .anniu {
  width: 33%;
  height: 33%;
}
.wrapper .luckyGame .gameCont #box .anniu #drawBtn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.wrapper .luckyGame .gameCont::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 0%;
  width: 100%;
  height: 40%;
  margin: 0 auto;
  background-image: url("../images/platform.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.wrapper .description {
  z-index: 2;
  background-image: url(../images/wall_darker.png);
  background-size: auto 100%;
}
.wrapper .description .des-pt {
  padding-top: 9rem;
}
@media screen and (max-width: 992px) {
  .wrapper .description .des-pt {
    padding-top: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .description .des-pt {
    padding-top: 5rem;
  }
}
.wrapper .description .desCont {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}
.wrapper .description .desCont .desTit {
  background-color: #4c4c4c;
  color: white;
  border-radius: 10px 10px 0 0;
}
.wrapper .description .desCont .desText {
  text-align: justify;
  margin: 0 1.5rem 0 0.5rem;
}
.wrapper .description .desCont::after, .wrapper .description .desCont::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrapper .description .desCont::after {
  top: 0%;
  right: 125%;
  width: 300px;
  height: 300px;
  background-image: url("../images/redDB.png");
}
.wrapper .description .desCont::before {
  top: -28%;
  left: 125%;
  width: 350px;
  height: 350px;
  background-image: url("../images/orangeDB.png");
  transform: rotate(-120deg);
}
.wrapper .footer {
  background: #000;
}
.wrapper .footer .copyright {
  color: white;
}
.wrapper .myModal .forMemberModal.maxWidth, .wrapper .myModal .forSalesModal.maxWidth, .wrapper .myModal .prizeModal.maxWidth {
  max-width: 800px;
}
.wrapper .myModal .forMemberModal .modal-content, .wrapper .myModal .forSalesModal .modal-content, .wrapper .myModal .prizeModal .modal-content {
  border-radius: 10px;
  border: unset;
}
.wrapper .myModal .forMemberModal .modal-content .modal-body, .wrapper .myModal .forSalesModal .modal-content .modal-body, .wrapper .myModal .prizeModal .modal-content .modal-body {
  padding: unset;
}
.wrapper .myModal .forMemberModal .modal-content .modal-body .btn-close, .wrapper .myModal .forSalesModal .modal-content .modal-body .btn-close, .wrapper .myModal .prizeModal .modal-content .modal-body .btn-close {
  position: absolute;
  right: 1%;
  top: 1%;
}
.wrapper .myModal .forMemberModal .modal-content .modal-body .colorRed, .wrapper .myModal .forSalesModal .modal-content .modal-body .colorRed, .wrapper .myModal .prizeModal .modal-content .modal-body .colorRed {
  color: #e41b0b;
}
.wrapper .myModal .forMemberModal .modal-content .modal-body .imgInbody, .wrapper .myModal .forSalesModal .modal-content .modal-body .imgInbody, .wrapper .myModal .prizeModal .modal-content .modal-body .imgInbody {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .wrapper .myModal .forMemberModal .modal-content .modal-body .imgInbody, .wrapper .myModal .forSalesModal .modal-content .modal-body .imgInbody, .wrapper .myModal .prizeModal .modal-content .modal-body .imgInbody {
    width: 60%;
  }
}
.wrapper .myModal .forMemberModal .modal-content .modal-body .imgPrize, .wrapper .myModal .forSalesModal .modal-content .modal-body .imgPrize, .wrapper .myModal .prizeModal .modal-content .modal-body .imgPrize {
  margin-top: -12%;
}
.wrapper .myModal .forMemberModal .modal-content .modal-body .inputStyle, .wrapper .myModal .forSalesModal .modal-content .modal-body .inputStyle, .wrapper .myModal .prizeModal .modal-content .modal-body .inputStyle {
  width: 100%;
  height: 30px;
  margin: 0.25rem 0 0.25rem 0;
  border: 0px;
  border-radius: 4px;
}
.wrapper .myModal .forMemberModal .modal-content .modal-body .go_button, .wrapper .myModal .forSalesModal .modal-content .modal-body .go_button, .wrapper .myModal .prizeModal .modal-content .modal-body .go_button {
  text-align: center;
  background-color: #005db4;
  color: white;
  border-radius: 4px;
}
.wrapper .myModal .forMemberModal .modal-content.modalBg, .wrapper .myModal .forSalesModal .modal-content.modalBg, .wrapper .myModal .prizeModal .modal-content.modalBg {
  background-image: url(../images/modal_bg.png);
  background-size: auto 100%;
}
.wrapper .myModal .forMemberModal .modal-content.yellowBg, .wrapper .myModal .forSalesModal .modal-content.yellowBg, .wrapper .myModal .prizeModal .modal-content.yellowBg {
  background-color: #ffd500;
}
.wrapper .form {
  background: linear-gradient(to bottom, #fbe074 0%, #ffdf48 50%, #3e97d1 50%, #509fd5 100%);
}
.wrapper .form #myform {
  position: relative;
  top: -4.5rem;
}
.wrapper .form .formBg {
  background-color: white;
  border-radius: 10px;
}
.wrapper .form .formBg .formImg {
  margin-top: -10%;
}
.wrapper .form .formTable {
  width: 90%;
  margin: 0 auto;
}
.wrapper .form .formTable .formTit {
  color: #005db4;
  font-weight: 900;
}
.wrapper .form .formTable .formBr {
  display: none;
}
@media screen and (max-width: 992px) {
  .wrapper .form .formTable .formBr {
    display: block;
  }
}
.wrapper .form .w-49 {
  width: 49%;
}
.wrapper .form .btnColor {
  background-color: #005db4;
  color: white;
}
.wrapper .form a {
  color: rgb(0, 119, 255);
}

/* keyframes */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */