.gotop {
    position: fixed;
    bottom: 3%;
    right: 0%;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50% 0 0 50%;
    transition: all .3s ease;
    width: 0;
    display: block;
}