body {
    margin: 0;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    margin-bottom: -256px;
    z-index: 999999;
}

.top iframe {
    height: 280px;
}

.top + * {
    margin-top: 65px;
}

.footer {
    width: 100%;
    height: 319px;
    z-index: 999999;
}

.footer iframe {
    height: 319px;
    margin: 0;
}

@media screen and (max-width: 1023px) {

    .top {
        height: 65px;
        /*margin-bottom: 405px;*/
    }

    .top iframe {
        height: 65px;
    }
  
    .footer, .footer iframe {
        height: 624px;
    }
}